<!-- <md-content class="md-padding" ng-controller="homeCtrl as homeCtrl">
		<p>Melissa Mattingly O'Connor</p>
		<md-grid-list md-cols="3"
					  md-cols-sm="1"
					  md-cols-md="2"
					  md-row-height="200px"
					  md-gutter="5px"
					  class="md-primary">
			<md-grid-tile ng-repeat="sc in homeCtrl.shortcuts">
				<md-grid-tile-header>
					{{sc.header}}
				</md-grid-tile-header>
				<div layout="column" class="tile">
					<span class="md-primary">
						{{sc.description}}
					</span>
					<md-button class="md-raised md-primary"
							   aria-label="{{sc.name}}"
							   ui-sref="{{sc.link}}"
							   ng-click="homeCtrl.onButtonPress(sc)">
						<md-icon md-svg-src="{{sc.icon}}"></md-icon>
						{{sc.name}}
					</md-button>
				</div>
			</md-grid-tile>
		</md-grid-list>
</md-content> -->

<md-content class="md-padding home-card" style="color:#311B92; text-align: center">
	<!-- <md-whiteframe class="md-whiteframe-z3" layout layout-align="center center"> -->
	<h1 class="md-display-3">Melissa O'Connor</h1>
	<h3 class="md-headline">
		Software engineer. Pet lover. Enjoying the city everyday.
	</h3>

    <p>Welcome to my site! It was built using <a href="https://material.angularjs.org/latest/#/">Angular Material</a>, an implementation of Material Design in Angular.js. Feel free to contact me via the e-mail link at the top. Enjoy!</p>
  <!-- </md-whiteframe> -->

<!--     <md-card >
      
      <md-card-content>
        <div><p style="float: left; width: 50%; vertical-align: middle">
          Hi, I'm Melissa Mattingly O'Connor and I'm currently employed as a software engineer at FactSet Research Systems in New York City. I work on web development, using AngularJS, HTML/CSS, Javascript, and various other technologies. Check out my site!
        </p></div>
        <img ng-src="img/meandfrog.jpg" class="md-card-image" alt="Washed Out" style="height: 50%; width: 50%; float: right">
      </md-card-content>
    </md-card> -->
</md-content>

