<div class="form-group">
  <label>Contributor</label>
    <input type="text" 
          ng-model="$ctrl.contributor" 
          class="form-control">

    <label>Title</label>
    <input type="text" 
          ng-model="$ctrl.title" 
          class="form-control">

    <label>Ingredients</label>
    <textarea rows="4" 
            ng-model="$ctrl.ingredients" 
            class="form-control"></textarea>

    <label>Steps</label>
    <textarea rows="4" 
            ng-model="$ctrl.steps" 
            class="form-control"></textarea>

    <label>Description/Other notes</label>
    <textarea rows="4" 
            ng-model="$ctrl.description" 
            class="form-control"></textarea>

    <label>Category</label>
    <!-- not compatible with safari -->
    <div ng-dropdown-multiselect="" 
         options="$ctrl.categoryOptions"
         selected-model="$ctrl.categories"
         extra-settings="{enableSearch: true}">
    </div>

    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="$ctrl.isVegetarian"> Is Vegetarian
      </label>
    </div>

  <!--<input>Images-->

  <input type="submit"
      ng-click="$ctrl.addRecipe()"
      class="form-control">
</div>